* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #00704a;
}

header {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f5ef;
  width: 100%;
}

.logo {
  margin: 10px 10px;
}

.logo img {
  width: 50px;
}

.nav_menu {
  display: flex;
  padding-right: 10px;
}

.nav_menu li {
  padding: 8px 24px;
}
