* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #00704a;
}

header {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f5ef;
  width: 100%;
}

.logo {
  margin: 10px 10px;
}

.logo img {
  width: 50px;
}

.nav_menu {
  display: flex;
  padding-right: 10px;
}

.nav_menu li {
  padding: 8px 24px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #333;
  width: 100%;
  height: 70px;
}

.footer_content {
  color: #f6f5ef;
  padding: 10px 10px;
  margin: 0 auto;
}

.container {
  display: flex;
  width: 100%;
  height: 80vh;
}

.container section {
  overflow: scroll;
  flex: 1;
  background-color: #f6f5ef;
}

.container aside {
  width: 80px;
  background-color: #f6f5ef;
}

.container img {
  width: 100%;
  margin: 5px 5px;
}
